<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="DubHacks Team">

  <title>DubHacks Project</title>

  <!-- Bootstrap Core CSS -->
  <link rel="stylesheet" href="/assets/css/bootstrap.min.css" type="text/css">


  <!-- Custom Fonts -->
  <link href='http://fonts.googleapis.com/css?family=Raleway:100,200,300,400,500,600,700' rel='stylesheet' type='text/css'>

  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">

  <!-- Plugin CSS -->
  <link rel="stylesheet" href="/assets/css/animate.min.css" type="text/css">

  <!-- Custom CSS -->
  <link rel="stylesheet" href="/assets/css/dubhacks.css" type="text/css">

</head>

<body id="page-top">

  <nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand page-scroll" href="#page-top"> DubHacks Project</a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right">

          <li>
            <a class="page-scroll" href="#team">Team</a>
          </li>

          <li>
            <a class="page-scroll" href="#about">Features</a>
          </li>


        </ul>
      </div>
      <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
  </nav>

  <header>
    <div class="header-content">
      <div class="header-content-inner">
        <h1>DUBHACKS PROJECT </h1>

        <h2 class="typed-cursor">* Currently in beta! <i class="fa fa-cog"></i></h2>

        <h3>Tag and Organize your photos. Automatically.</h3>
        <hr class = "light">

        <a href="/login" class="btn btn-blue">Authenticate Auto Tag</a>


      </div>
    </div>
  </header>

  <!--
    <form class="cd-form floating-labels" action="" method="POST">
      <fieldset>
        <div class="icon">
          <label class="cd-label" for="email">Microsoft E-Mail Account:</label>
          <input class="user" type="email" id="email" required placeholder="JosephIstheBest@outlook.com">
        </div>

        <div class="icon">
          <label class="cd-label" for="password">Password:</label>
          <input class="user" type="password" id="password" required placeholder= "Enter Yo Password Here Bruh">
        </div>

        <div>
          <input type="submit" value="Send">
        </div>
      </fieldset>
    </form>
  -->

  <section class="team text-center" id="team">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h2>About the team</h2>
          <hr class="white">
          <br>
          <br>
        </div>
        <div class="col-md-3">
          <div class="wow fadeInUp text-primary">
            <img src ="/assets/img/joseph.jpg" class = "portraits">
            <h3>Name</h3>
          </div>
        </div>

        <div class="col-md-3">
          <div class="wow fadeInUp text-primary delay-05s">
            <img src ="/assets/img/joseph.jpg" class = "portraits">
            <h3>Name</h3>
          </div>
        </div>

        <div class="col-md-3">
          <div class="wow fadeInUp text-primary delay-05s">
            <img src ="/assets/img/joseph.jpg" class = "portraits">
            <h3>Name</h3>
          </div>
        </div>

        <div class="col-md-3">
          <div class="wow fadeInUp text-primary">
            <img src ="/assets/img/joseph.jpg" class = "portraits">
            <h3>Name</h3>
          </div>
        </div>

      </div>
    </div>
  </section>


  <section class="about text-center screenshot" id="about">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h2>About DUBHACKS PROJECT</h2>
          <hr class="white">
        </div>



        <div class="col-md-7">
          <div class="text-left wow fadeInUp text-primary">
            <br>
            <h3>Something</h3>
            <li>Automated workflow processes automates inventory accounting and invoicing</li>
            <li>Streamlined supply chain and increased profits through B2C E-Commerce</li>
            <hr class="wider" align="left">

            <h3>Something</h3>
            <li>Coastline connects buyers to local seafood vendors, who provide the freshest, most local seafood.</li>
            <li>Filter by category and price to narrow down your search to certain parameters or cut to the chase by searching for a specific item</li>
          </div>
        </div>

        <div class="col-md-5">
          <div class="wow fadeInLeft text-primary delay-05s">
            <img src = "/assets/img/image.jpg">
          </div>
        </div>
      </div>
    </div>
  </section>





  <footer class="footer">
    <div class="row">
      <div class="col-md-12">
        <div style="clear: all;">
          <p class="text-center">Made With <i class="fa fa-heart"></i> at DubHacks 2015</p>
        </div>
      </div>
  </footer>



  <!-- jQuery -->
  <script src="/assets/js/jquery.js"></script>

  <!-- Bootstrap Core JavaScript -->
  <script src="/assets/js/bootstrap.min.js"></script>

  <!-- Plugin JavaScript -->
  <script src="/assets/js/jquery.easing.min.js"></script>
  <script src="/assets/js/jquery.fittext.js"></script>
  <script src="/assets/js/wow.min.js"></script>

  <!-- Custom Theme JavaScript -->
  <script src="/assets/js/creative.js"></script>

</body>

</html>
